<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Shelf for books</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
	<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  	<!-- Brand -->
  	<a class="navbar-brand" href="#">Bookshelf</a>
 
  	<!-- Links -->
  	<ul class="navbar-nav">
    	<li class="nav-item">
      		<a class="nav-link" href="${url_for('user.index')}"><i class="fa fa-home"></i></span> 首页</a>
    	</li>
    	<li class="nav-item">
      		<a class="nav-link" href="#"><i class="fa fa-asterisk"></i> 关于</a>
    	</li>
 
    <!-- Dropdown -->
    	<li class="nav-item dropdown">
      		<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><i class="fa fa-th-list"></i>
        		分类
      		</a>
      		<div class="dropdown-menu">
        		<a class="dropdown-item" href="#">Link 1</a>
        		<a class="dropdown-item" href="#">Link 2</a>
        		<a class="dropdown-item" href="#">Link 3</a>
      		</div>
    	</li>
  	</ul>

	<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
		<ul class="navbar-nav">

		<!-- Search form --> 
	  	<form class="form-inline">
	    <input class="form-control" type="text" placeholder="Search">
	    <button class="btn btn-success" type="submit">Search</button>
	    </form>

	    % if False:
	        <li class="nav-item dropdown">
	      		<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
	        		user here
	      		</a>
	      	<div class="dropdown-menu">
	        	<a class="dropdown-item" href="#"><i class="fa fa-home"></i> 主页</a>
	        	<a class="dropdown-item" href="${url_for('auth.signin')}"><i class="fa fa-sign-out"></i> 退出</a>
	      	</div>
	      	<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-bell"></i> 消息</a></li>
	    % else:
			<li class="nav-item"><a class="nav-link" href="${url_for('auth.signup')}"><i class="fa fa-lock"></i> 注册</a></li> 
	        <li class="nav-item"><a class="nav-link" href="${url_for('auth.signin')}"><i class="fa fa-sign-in"></i> 登录</a></li>

	    % endif

		</ul>
	</div>
</nav>
<div class="main">
	<%block name="main"/>
</div>
</body>
</html>